.Button, .PlayerControlButton {
  padding: 1rem 1.5rem;
  font-weight: 600;
  font-size: 1.2rem;
  outline: none;
  background-color: #fff;
  transition-property: color, background-color;
  transition-duration: 400ms;
  cursor: pointer;
}

